@{
    ViewBag.Title = "About Brewskii++";
    ViewBag.LineCount = 33;
    ViewBag.CharacterCount = 2295;
}
<!-- This is how we get background images on the page -->
<body style="background-image: url('http://oi68.tinypic.com/21bji40.jpg');">
</body>
<pre class="prettyprint prettyprint-text-doc linenums">
         {_}
         |(|
         |=|
        /   \                                   
        |.--|
        ||  |
        ||  |    .    ' .
        |'--|  '     \~~~/
        '-=-' \~~~/   \_/
               \_/     Y
                Y     _|_
               _|_

Brewski++ will be a personal beer logging website which allows the user to add beers that they have tried along with other useful information about the beer. 
Additionally, find new beers and add them to your wish list!

The Brewskii++ uses one of the most common design patterns in object oriented programming, the factory pattern. 
We create objects behind the scenes without delivering any of the implementation to our user. 

An example would be the user being able to create a beer and add it to a list without seeing any of the logic behind the operation.

We are using a Model - View - Controller modular design for our website implementation. For simplicity in this document, 
we will analyze these three modules separately and how they relate to the front-end and back-end view of our website.

                                 
             _, . '__ . 
          '_(_0o),(__)o().
        ,o(__),_)o(_)O,(__)o                     
      o(_,-o(_ )(),(__(_)oO)_
      .O(__)o,__).(_ )o(_)Oo_)
  .----|   |   |   |   |   |_)0
 /  .--|   |   |   |   |   |,_)
|  /   |   |   |   |   |   |o(_)
|  |   |   |   |   |   |   |_/`)
|  |   |   |   |   |   |   |O_) 
|  |   |   |   |   |   |   |
|  \   |   |   |   |   |   |
 \  '--|   |   |   |   |   |
  '----|   |   |   |   |   |
       |   |   |   |   |   |
       \   \   \   /   /   /
        `"""""""""""""""""`

    
      
 

     
 
</pre>
