@{
    ViewData["Title"] = "About";
}

<!-- This is how we get background images on the page -->
<body 
    style="background-image: url('https://i.imgur.com/7CVFiog.jpg');">
</body>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This application is a proof of concept for Software Engineering.</p></br>
<p>Product of team Two Node Null at IUS. Fall 2018</p>
