@{
    ViewData["Title"] = "Contact";
}

<!-- This is how we get background images on the page -->
<body 
    style="background-image: url('https://i.imgur.com/7CVFiog.jpg');">
</body>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Indiana University Southeast<br />
    4201 Grant Line Rd.<br />
    New Albany, IN 47150<br />
    <abbr title="Phone">P: </abbr>
    (812) 941-2333
</address>

<address>
    <strong>Support: </strong> <a href="mailto:AMeiners@iu.edu">AMeiners@iu.edu</a><br />
</address>
