@{
    ViewData["Title"] = "Contact";
}
<!-- This is how we get background images on the page -->
<body style="background-image: url('http://oi68.tinypic.com/21bji40.jpg');">
</body>
@{
    ViewBag.Title = "Contact Us";
}


<h3>@ViewBag.Message</h3>
<h4><u>Contact Information:</u></h4>

<html>
<pre class="prettyprint prettyprint text-doc-linenums">
<div>
<address>
    Indiana University Southeast
    4201 Grant Line Rd.
    New Albany, IN 47150
    (812)-867-5309
</address>
<address>
    <strong>Member 1:</strong>  <a href="https://github.com/AndrewMeiners">Andrew Meiners</a>
    <strong>Email: </strong> <a href="mailto:AMeiners@iu.edu">ameiners@iu.edu</a><br />
    <strong>Member 2: </strong> <a href="https://github.com/DanielRussell-druss">Daniel Russell</a>
    <strong>Email: </strong> <a href="mailto:AMeiners@iu.edu">daleruss@iu.edu</a><br />
    <strong>Member 3:</strong>  <a href="https://github.com/HXNGUY01"> Hung Nguyen</a>
    <strong>Email: </strong> <a href="mailto:hungnguyenpsn@gmail.com">hungnguyenpsn@gmail.com</a><br />
</address>
</div>
</pre>
</html>
