@{
    ViewData["Title"] = "Beer Cooler";
}

<!-- This is how we get background images on the page -->
<body 
    style="background-image: url('https://i.imgur.com/7CVFiog.jpg');">
</body>

<h2>The Beer Cave</h2>

<p>Hello world from the Beer Cave!</p>