@{
    ViewData["Title"] = "Beer Cooler";
}

<!-- This is how we get background images on the page -->
<body style="background-image: url('http://oi68.tinypic.com/21bji40.jpg');">
</body>

<h2>The Beer Cave</h2>

<p>Hello world from the Beer Cave!</p>