@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p></br>
<p>All usage rights reserved by team Two Node Null and IUS Students</p>
