@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- This is how we get background images on the page -->
<body style="background-image: url('http://oi68.tinypic.com/21bji40.jpg');">
</body>

<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p></br>
<p>All usage rights reserved by team Two Node Null and IUS Students</p>
