
@{
    ViewData["Title"] = "Welcome";
}

<!-- This is how we get background images on the page -->
<body 
    style="background-image: url('https://i.imgur.com/7CVFiog.jpg');">
</body>

<h2>Welcome</h2>

<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>
